<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Use a relative path for the stylesheet -->
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Search Results</title>
</head>

<body style="background-color: #FFFDFC;">
    <!-- Include the header -->
    <%- include('../partials/header') %>

        <% if (products && products.length> 0) { %>
            <div class="products">
                <% products.forEach(product=> { %>
                    <div class="product">
                        <!-- Add alt text for accessibility -->
                        <img src="<%= product.product_IMG %>" alt="<%= product.product_Name %> Image">
                        <h2>
                            <%= product.product_Name %>
                        </h2>
                        <p>$<%= product.product_Price %>
                        </p>
                        <button class="add-to-cart">Add to cart</button>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
                <p>No products found</p>
                <% } %>

                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

                    <!-- Include the footer -->
                    <%- include('../partials/footer') %>
</body>

</html>